*
{
	/* This rule ensures that when you set the width or height of an element on your webpage, that measurement INCLUDES the border. */
	box-sizing: border-box;
	
}

:root
{
	font-family: Helvetica;
	font-size: 12pt;
	color-scheme: dark light;
	box-shadow:lightslategray;
}

html
{
	margin: 0;
	padding: 0;
}

body
{
	background-color:#232323;

	margin: 0 auto;
	padding: 3rem;

	max-width: 8.5in;
	text-shadow: lightslategrey;
}

/*.image {
	float: left
}

.title {
	float:right
}

.link {
	float: right
}*/

/* These styles define your link bar at the top of the screen. */

section
{
	clear: both;
}

nav
{
	margin: 0 0 1rem;
	/* The above is the same as doing:
	margin-top: 0;
	margin-right (and margin-left, implicitly) 0;
	margin-bottom: 1rem;
	*/
	background-color: #112233;
	display:flex;
	justify-content: space-between;
	align-items: right;
	padding:0.5rem; 

}

#links
{
	margin: 0;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
}

#links > li
{
	display: block;
	margin: 0.5em
	
}

#the-captain-buster
{
	/* These rules make your image a square,
	and resize it so that the whole square is covered. */
	aspect-ratio: 1 / 1;
	object-fit:cover;

	max-width: 100%;

	height: 7rem;
	float: left;
	border-radius: 50%; 

	
}

/* These rules apply to all links, both with and without hovering. */

a:any-link
{
	color: #55aaff;
	text-decoration: none;
}

a:any-link:hover
{
	color: white;
}
h1
{
	color:#59aeef;
	margin:0;
}